@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* these are CSS variables */
:root {
  --background-body: #292929;
  --background-content: #1d1d1d;
  --text-color: #e5e5e5;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 1 rem;
  font-family: "Roboto", sans-serif;
  background: var(--background-body);
  color: var(--text-color);
  height: 100%;
}

/* Global */
svg {
  width: 1.5rem;
}

button.icon {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

